{% block footer %}
<footer>
    <p>Join 23621 15 Mile Rd #C104, Clinton MI, 48035, USA</p>
    <p>+1 (2) 345 6789 | contact@yourdomain.com</p>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Teacher</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Support</a></li>
    </ul>
    <p>&copy; {{ "now"|date("Y") }} Theme By themefisher.com. All Rights Reserved.</p>
</footer>
{% endblock %}